<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DistanceCondition</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>默认范围</string>
			<key>RequestValue</key>
			<string>10</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>500米</string>
			<key>RequestValue</key>
			<string>0.5</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>1公里</string>
			<key>RequestValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>2公里</string>
			<key>RequestValue</key>
			<string>2</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>5公里</string>
			<key>RequestValue</key>
			<string>5</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>10公里</string>
			<key>RequestValue</key>
			<string>10</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>20公里</string>
			<key>RequestValue</key>
			<string>20</string>
		</dict>
	</array>
	<key>RepariCondition</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>专修</string>
			<key>RequestValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>通修</string>
			<key>RequestValue</key>
			<string>0</string>
		</dict>
	</array>
	<key>OtherCondition</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>修养推荐</string>
			<key>RequestValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>距离最近</string>
			<key>RequestValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>评分最高</string>
			<key>RequestValue</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
