<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DistanceCondition</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>距离(不限)</string>
			<key>RequestValue</key>
			<string>20</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>1公里</string>
			<key>RequestValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>5公里</string>
			<key>RequestValue</key>
			<string>5</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>10公里</string>
			<key>RequestValue</key>
			<string>10</string>
		</dict>
	</array>
	<key>RepairCondition</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>品牌(不限)</string>
			<key>RequestValue</key>
			<string>default</string>
		</dict>
	</array>
	<key>OtherCondition</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>业务(不限)</string>
			<key>RequestValue</key>
			<string>default</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>洗车美容</string>
			<key>RequestValue</key>
			<string>洗</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>保养</string>
			<key>RequestValue</key>
			<string>养</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>维修</string>
			<key>RequestValue</key>
			<string>修</string>
		</dict>
	</array>
</dict>
</plist>
