<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>一</key>
	<string>OneIcon</string>
	<key>二</key>
	<string>TwoIcon</string>
	<key>三</key>
	<string>ThreeIcon</string>
	<key>综</key>
	<string>ZongIcon</string>
	<key>专</key>
	<string>ZhuanIcon</string>
	<key>诚</key>
	<string>ChengIcon</string>
	<key>团</key>
	<string>TuanIcon</string>
	<key>价</key>
	<string>JiaIcon</string>
</dict>
</plist>
