<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ViewController</key>
		<string></string>
		<key>Icon</key>
		<string>UC-HomPageIcon</string>
		<key>Title</key>
		<string>首页</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string></string>
		<key>Icon</key>
		<string>UC-OrderIcon</string>
		<key>Title</key>
		<string>订单</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string></string>
		<key>Icon</key>
		<string>UC-GroupBuyIcon</string>
		<key>Title</key>
		<string>团购</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string></string>
		<key>Icon</key>
		<string>UC-CollectionIcon</string>
		<key>Title</key>
		<string>收藏</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string></string>
		<key>Icon</key>
		<string>UC-CouponIcon</string>
		<key>Title</key>
		<string>优惠券</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string></string>
		<key>Icon</key>
		<string>UC-SettingIcon</string>
		<key>Title</key>
		<string>设置</string>
	</dict>
</array>
</plist>
